<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" />
  <package id="vscode" />

  <package id="llvm" version="20.1.8" />
  <package id="cmake" version="4.3.4" installArguments="ADD_CMAKE_TO_PATH=System" />
  <package id="ninja" version="1.13.2" />
  <package id="mingw" />
</packages>